html, body {
    height:100%;
}

body { 
	background: #3B5998;
	background-image: url('../collection-newspapers.jpg');
	background-size:100% 100%;
}


.login { 
	width:400px;
	height:150px;
	margin: auto;
}

.jumbocolour{
	font-size: 20px;
	background: #fff;
}

#h1 {
	color:aqua;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background:rgb(255, 255, 255);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: rgba(3, 3, 3, 0.849);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

button {
	background-color: #fff;
};